<div class="container-login">
  <form>
    <label for="fname">Category name:</label><br />
    <input type="text" id="Categoryname" name="Categoryname" /><br />
    <label for="lname">Is the item perisable?</label><br />
    <input type="checkbox" id="isperishable" name="isperishable" />
  </form>
  <button class="button">submit</button>
</div>