<div class="modal1" id="categoryAdd1" style="display: none">
  <div class="modal-sandbox"></div>
  <div class="modal-box">
    <div class="modal-header">
      <h1>Add Category</h1>
    </div>
    <div class="modal-body">
      <div>
        <form class="items-modal" action="submit">
          <Label>Category Name: </Label>
          <input id="newCategory" type="text" />
          <br />
        </form>
      </div>
      <br />
      <button id="Add-item">Add Item</button>
      <button id="close-modal-btn1" style="float:right;">Close!</button>
    </div>
  </div>
</div>