<div class="modal" id="modal-name" style="display: block">
  <div class="modal-sandbox"></div>
  <div class="modal-box">
    <div class="modal-header">
      <div class="close-modal">&#10006;</div>
      <h1 style="color: red" >Attention</h1>
    </div>
    <div class="modal-body">
      {{> fourohfour}}
      <br />
      <button class="close-modal-btn">Close!</button>
    </div>
  </div>
</div>