<div class="modal" id="submit_btn" style="display: none">
  <div class="modal-sandbox"></div>
  <div class="modal-box">
    <div class="modal-header">
      <h1>Add items</h1>
    </div>
    <div class="modal-body">
      <div>
        <form class="" action="submit">
          {{#each prev_purchased_items}}
          <Label>Select item : </Label>
                    <p>{{name}}</p>
          {{/each}}
        
          <input id="" type="fieldset" />

          <br>
      <label for="expiryDate" >Expiry Date(YYYY-MM-DD)</label>
      <br>
      <input type="text">
      </form>

      <button id="Add-items">Add Item</button>
      <button id="close-modal-btn2" style="float:right;">Close!</button>
    </div>
  </div>
</div>