<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Waste</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!--  -->
    <header>
      <section class="header-container">
        <div class="button-container">
          <ul>
            <div class="project-title">Project 1</div>
            <li><a class="button-nav" href="/home">Home</a></li>
            <li><a class="button-nav" href="/dashboard">Dashboard</a></li>
            <li><a class="button-nav" href="/cart">Cart</a></li>
            <li><a class="button-nav login" href="/login">Login</a></li>
            <li>
              <a class="button-nav hidden login" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </section>
    </header>
    {{{body}}}

    <footer>
      <div class="footer">© Feet Go here</div>
    </footer>

  </body>
</html>