<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Waste</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  </head>
  <body>
    <!--  -->
    <header class="background">
      <div class="header-container"></div>
      <section>
        <div class="button-container">
          <img class="logo" src="/assets/Clever-Waste.png" alt="404" />
          <ul>
            <li><a class="button-nav" href="/">Home</a></li>
            {{#if logged_in}}
              <li><a class="button-nav" href="/dashboard">Dashboard</a></li>
            {{/if}}
            <li><a class="button-nav" href="/cart">Cart</a></li>
            {{#if logged_in}}
              <li><a class="button-nav login" href="/logout">Logout</a></li>
              <li><a class="button-nav" href="/Donate">Donate</a></li>
            {{else}}
              <li><a class="button-nav login" href="/login">Login</a></li>
            {{/if}}

          </ul>
        </div>
      </section>
    </header>
    <div class="divide"></div>
    {{{body}}}
    <br />
    <footer>
      <div class="footer">© Feet Go here</div>
    </footer>

  </body>
</html>