<div class="flex check-mark">
  <div class="container-half">
    {{#each cart as |carts|}}
      <div class="flex-row">
        <p>Name:
          {{carts.name}}</p>
        <div class="flex-grow"></div>
        <p class="center"> Brand: {{carts.brand}} </p>
        <label class="align check-mark">
          <input type="checkbox" class="check-mark" />
          <span></span>
        </label>
      </div>
      <div class="divide-check"></div>
      <br />

    {{/each}}
  </div>
  <div class="container-half">
    {{#each category as |categorys|}}
      <div>
        <p>Category: {{categorys.name}}</p>

      </div>
      <div class="divide-check"></div>
      <br />
    {{/each}}

  </div>
</div>