{{!  }}
{{#dashDataPlain}}
<div class="container-dashboard">
   <div class="user-profile">
      <p>Welcome, {{name}} </p>
      <h5 class="user-name"></h5>
      <h6 class="user-email"><span>Email: </span>{{email}}</h6>
   </div>
    {{> foodItem}}
    {{>addfooditem}}
</div>
<script src="/js/update.js"></script>
{{/dashDataPlain}} 