{{!  }}
{{#dashDataPlain}}
  <div class="container-login">
    <div class="user-profile">
      <p>Welcome, {{name}} </p>
      <h5 class="user-name"></h5>
      <h6 class="user-email"><span>Email: </span>{{email}}</h6>
      <form action="">
        <button class="button">
          Update Name and Email
        </button>

      </form>
    </div>
    <div>
    </div>
  </div>
  <script src="/js/update.js"></script>
{{/dashDataPlain}}