<div class="container-login">

  <section>
    <div>
      <p class="donate-title">Who would you like to Donate to?</p>
    </div>
  </section>
  <div class="divide"></div>
  <br />
  <section>
    <div>
      <a class="foodBankText" href="http://www.longbeachanglicans.org.au/">St
        Chad's Church Chelsea Food Bank: 12-14 Thames Promenade, Chelsea VIC
        3196</a>
      <br />
      {{#each locations as |location|}}
        <a
          class="foodBankText"
          href="{{location.webaddress}}"
        >{{location.name}}: {{location.address}}</a>
        <br />
      {{/each}}
    </div>
  </section>
</div>