<div class="container-login">

  <section>
    <div>
      <p class="donate-title">Who would you like to Donate to?</p>
    </div>
  </section>
  <div class="divide"></div>
  <br />
  <section>
    <div>
      {{#each locations as |location|}}
        <a
          class="foodBankText"
          href="{{location.webaddress}}"
        >{{location.name}}: {{location.address}}</a>
        <br />
      {{/each}}
    </div>
  </section>
</div>