<section>
      <div class="container-login">
        <div>
            <form action="">
              <div class="login-form"> 
                <div class="form-group">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
              </div>
              <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
              </div>
                <div class="form-group">
                <button class="button" type="submit">login</button>
                <h4>No account?  </h4>
                <h4>Click here :<a href="/signup"> Signup</a> </h4>
              </div>
            </form>
        </div>
      </div>
</section>
<script src="/js/login.js"></script>
