<section class="Content">
  <div class="post-block">
    <p>are you sure you want to logout?</p>
    <button class="submit" href="/logout">Logout</button>
  </div>
</section>
<script src="/js/logout.js"></script>