* {
  /* border: 1px solid black; */
}

/* Darkmode if we want it  */
/* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

:root {
  --Dark_mode: rgb(16, 16, 16);
  --No_dark_mode: white;
  --Taskbar: rgb(56, 29, 42);
  --Taskbar_dm: rgb(28, 15, 19);
  --Button: rgb(69, 105, 144);
  --Button_dm: rgb(17, 75, 95);
  --Text: black;
  --Text_dm: white;
}

body {
  height: 100vh;
  background-color: var(--Darkmode);
  background-image: url("/assets/white-abstract-background_23-2148812993.jpg");
  background-size: cover;
}
.errStatus {
  height: 100vh;
  background-color: var(--Darkmode);
  background-image: url("/assets/404-pages.png");
  background-size: cover;
}
.background {
  margin-bottom: 60px;
}
/*Header*/
.header-container {
  display: flex;
  background-color: var(--Taskbar);
  min-height: 60px;
}
.button-container {
  min-width: 100%;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline;
}

.button-nav {
  color: var(--Text);
  padding: 5px;
  border-radius: 10px;
  float: left;
  width: auto;
  margin: 5px;
}

.hidden {
  display: none;
}
.login {
  float: right;
  margin-right: 30px;
}
.project-title {
  font-size: 1.5em;
  text-shadow: 1.5px 1.5px var(--Text);
  color: var(--Button);
  margin: 0 8px;
  font-weight: bold;
}
/* buttons */
button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--Taskbar);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

/* Login */
img {
  height: 100vh;
  width: auto;
}
.divide {
  border-top: 3px solid #bbb;
  margin: auto 50px;
}
/* Signup */
.signup {
  color: rgb(18, 126, 6);
}

/* Footer */
.footer {
  text-align: center;
  padding: 2px;
  font-size: 0.8em;
  background-color: var(--Taskbar);
  color: white;
  position: fixed;
  min-width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 20px;
  min-height: 10px;
  clear: both;
}
.logo {
  height: 150px;
  /* max-width: 100px; */
}

/* Modal --------------- */
.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 70%;
  max-width: 920px;
  margin: 100px auto;
}

.modal-header {
  padding: 20px 20px;
  background: var(--Button_dm);
  color: #ffffff;
}

.modal-body {
  background: #eceff1;
  padding: 30px 40px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

.modal-trigger:hover {
  padding: 20px 60px;
}
.card {
  border: 0;
}
/* Dasboard */

.user-profile {
  margin: 30px;
}
/* Home Page */
.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.article-continer {
  flex-grow: 1;
  margin-right: 50px;
}

.action-container {
  flex-grow: 2;
}

.learn-more-button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(18, 126, 6);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 10px;
}

.background-image {
  background-image: url("/assets/food_waste_heroes.jpg");
  min-width: 480px;
  min-height: 400px;
  max-width: 800px;
  max-height: 650px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container-exp-food {
  border: 1px black solid;
  margin: 50px 50px;
  padding: 10px 20px 20px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  align-content: center;
  background-color: rgb(235, 226, 226);
  width: 420px;
  height: auto;
}
.container-exp-food h3 {
  padding: 2%;
  display: inline;
}

/* User Home Page */

.donate-button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: red;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.exp-list {
  display: list-item;
  padding: 2%;
}

.exp-ul {
  padding: 0;
  margin: 0;
}

/* Hovers  */

button:hover {
  color: var(--Button);
}

.signup:hover {
  text-decoration: none;
  color: rgb(17, 65, 11);
}
/* Media Querys */

@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1024px) {
}
/* delete this  */


/* CSS FOR DASHBOARD */

.container-dashboard{
  border: 1px black solid;
  margin: 50px 50px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display:flex;
  flex-direction: row;
  flex-grow: 1;
}

.add-item-btn{
  background-color: #1c0f13;
  color:#F1F2Eb;

}
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #E15554;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #1c0f13;
    border-radius: 10px;
    font-weight: 700;
  }
  .responsive-table .table-header-heading {
    background-color: none;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #1c0f13;
    margin-bottom: 0px;
    font-weight: bold;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  }
  
  .responsive-table .delete-button{
    text-align: end;
    font-size: 30px;
  }
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      
    }
    .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
    .container-dashboard{
      display:flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width:850px) {
    .table-header, .table-row, .table-header-heading {
        display: flex;
        flex-direction: column;
        line-height: 2em;
        justify-content: center;
    }
    .col {
      
      max-width:100%;
    }
    .add-food-item{
      width: 100%;
    }

    .add-item-btn-submit{
      width:100%;
    }

    .cancel-item-btn{
      width: 100%;
    }
  }

  @media screen  and (min-width:851px){
    .add-item-btn-submit{
      width:50%;
    }

    .cancel-item-btn{
      width: 49%;
    }
  }

  /** add food item form - https://codepen.io/ainalem/pen/GRqPwoz **/

  .add-food-item{
    width:50%;
  }
  .add-food-item-form {
    background-color: #1c0f13;
    border-radius: 20px;
    box-sizing: border-box;
    height: 700px;
    padding: 20px;
    min-width: 320px;
  }
  
  .add-food-item-title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .add-item-btn-submit{
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    background-color: #E15554;
    color:#f1f2ec
  }
  
  .add-item-btn-submit:active {
    background-color: #E15554;
    color:#1c0f13
  }

  .cancel-item-btn{
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    background-color: #f1f2ec ;
    color:#1c0f13;
    margin-bottom: 20px;
  }
  .cancel-item-btn:active {
    background-color: #E15554;
    color:#1c0f13
  }

  