* {
  /* border: 1px solid black; */
}

/* Darkmode if we want it  */
/* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

:root {
  --Dark_mode: rgb(16, 16, 16);
  --No_dark_mode: white;
  --Taskbar: rgb(56, 29, 42);
  --Taskbar_dm: rgb(28, 15, 19);
  --Button: rgb(69, 105, 144);
  --Button_dm: rgb(17, 75, 95);
  --Text: black;
  --Text_dm: white;
}

body {
  height: 100vh;
  background-color: var(--Darkmode);
  background-image: url("/assets/white-abstract-background_23-2148812993.jpg");
  background-size: cover;
}

.background {
  margin-bottom: 60px;
}
/*Header*/
.header-container {
  display: flex;
  background-color: var(--Taskbar);
  min-height: 60px;
}
.button-container {
  min-width: 100%;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline;
}

.button-nav {
  color: var(--Text);
  padding: 5px;
  border-radius: 10px;
  float: left;
  width: auto;
  margin: 5px;
}

.hidden {
  display: none;
}
.login {
  float: right;
  margin-right: 30px;
}
.project-title {
  font-size: 1.5em;
  text-shadow: 1.5px 1.5px var(--Text);
  color: var(--Button);
  margin: 0 8px;
  font-weight: bold;
}

/* Login */

.container-login {
  border: 1px black solid;
  margin: 50px 50px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
img {
  height: 100vh;
  width: auto;
}
.divide {
  border-top: 3px solid #bbb;
  margin: auto 50px;
}
/* Footer */
.footer {
  text-align: center;
  padding: 2px;
  font-size: 0.8em;
  background-color: var(--Taskbar);
  color: white;
  position: fixed;
  min-width: 100%;
  left: 0;
  bottom: 0;
}
.logo {
  height: 150px;
  /* max-width: 100px; */
}

/* Hovers  */

button-nav:hover {
  color: var(--Button);
}
/* Media Querys */

@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1024px) {
}
